.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* shared item */
.btn-primary {
    background: #FD6E0A;
    font-size: 20px;
    width: 150px;
    height: 64px;
    font-weight: bold;
    color: white;
    border: none;
}

.btn-primary-light {
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    width: 150px;
    height: 64px;

}

/* navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;


}

.span-colour {
    color: rgba(253, 110, 10, 1);
}

nav ul li {
    list-style: none;
    margin-right: 51px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.dark-2 {
    color: rgba(71, 71, 71, 1);
}

/* banner styles */
.banner-gretings {
    font-weight: 600;
    font-size: 45px;

}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;

}