.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* shared item */
.btn-primary {
    background: #FD6E0A;
    font-size: 20px;
    width: 150px;
    height: 64px;
    font-weight: bold;
    color: white;
    border: none;
}

.btn-primary-light {
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    width: 150px;
    height: 64px;

}

.secondary-bg {
    background: rgba(255, 248, 243, 1);

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
}

.text-center {
    text-align: center;
}


/* header section */
.header {
    background-image: url(images/developer.png), url(images/header_bg.png);

    background-repeat: no-repeat;
    background-position: top left, bottom right;

}


/* navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;


}

.span-colour {
    color: rgba(253, 110, 10, 1);
}

nav ul li {
    list-style: none;
    margin-right: 51px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.dark-2 {
    color: rgba(71, 71, 71, 1);
}

/* banner styles */
.banner-gretings {
    font-weight: 600;
    font-size: 45px;

}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;

}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;

}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about section  */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}

/* skill section  */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill-description {}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
}